* {
    margin : 0px;
}

header {
    height: 110vh;
    background-image: url(../images/banner/banner2.png);
    background-position: left top;
    background-size: cover;
}

.header-text {
    width: 50%;
    text-align: right;
    padding: 15% 0% 20% 40%;
}
.header-title {
    font-size: 60px;
}
.header-description {
    font-size: 19px;
    color:rgb(70, 69, 69);
    margin: 20px 0px;
}
.header-button {
    color: azure;
    font-size: 17px;
    font-weight: 700;
    background-color: rgb(245, 85, 27);
    border: 0px;
    padding: 10px 13px;
    border-radius: 4px;
}